---
import { getEntry } from 'astro:content';
import SectionContainer from './SectionContainer.astro';
import { Image } from 'astro:assets';
import leftTopFrame from '../assets/images/radiance.avif';
import lineBright from '../assets/images/line_bright.png';

const flowData = await getEntry('home', 'flow');
const { title, steps } = flowData.data;
---

<section class="section-margin-y py-24 md:py-32 text-clr-wh-1 relative overflow-hidden">
  <SectionContainer>
    <div class="relative mb-20">
	<Image 
		src={lineBright} 
		alt="" 
		width={713} 
		height={300}
		class="absolute inset-0 top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 z-[-1] w-[100vw] pointer-events-none mix-blend-screen"
		aria-hidden="true"
    />  
      <h2 class="txt-luster [text-shadow:_0_0_30px_white] text-3xl text-center md:text-6xl font-serif text-clr-main-1 sm:tracking-widest mb-6">
        {title}
      </h2>

    </div>
	<!-- <p class="text-clr-bl-1 text-lg max-w-lg mx-auto leading-relaxed bg-white/50 backdrop-blur-md border border-white/10 p-6 mb-16 md:p-8 rounded-3xl shadow-2xl">{description}</p> -->

    <div class="grid md:grid-cols-4 gap-8 relative mx-auto leading-relaxed bg-white/50 backdrop-blur-md border border-white/10 p-6 mb-16 md:p-8 rounded-3xl shadow-2xl">
      <div class="hidden md:block absolute top-16 left-[12.5%] right-[12.5%] h-px border-t border-dashed border-clr-main-1/30"></div>

      {steps.map((item, index) => {
        const romanNumbers = ["I", "II", "III", "IV"];
        
        return (
          <div class="relative flex flex-col items-center text-center group z-10">
            <div class="w-16 h-16 border border-clr-main-1 flex items-center justify-center text-2xl font-serif text-clr-wh-1 mb-6 bg-clr-base-1 group-hover:bg-clr-main-1 transition-all duration-500">
              {romanNumbers[index] || item.step}
            </div>
            
            <h3 class="text-xl font-serif text-clr-main-1 mb-4">
              {item.name}
            </h3>
            
            <p class="text-base text-clr-bl-1 leading-relaxed text-left w-full max-w-[240px]">
              {item.description}
            </p>
          </div>
        );
      })}
    </div>
  </SectionContainer>
</section>