---
import { NAV_ITEMS, SITE_TITLE } from '../data/site';
import * as Lucide from 'lucide-astro';
import Link from '../components/Link.astro';
import SectionContainer from './SectionContainer.astro';

const getIcon = (name: string) => {
  return Lucide[name as keyof typeof Lucide];
};
---

<header class="fixed w-full h-16 sm:h-20 z-50 bg-clr-wh-1/30">

<SectionContainer class="relative z-10">

  <div class="flex items-center justify-between mx-auto py-4 h-16 sm:h-20">
    <div class="txt-luster text-[5vw] sm:text-3xl lg:text-[2.5vw] xl:text-4xl font-serif font-bold text-clr-bl-1"><Link href="/">{SITE_TITLE}</Link></div>
    
    <nav class="hidden lg:flex gap-6">
      {NAV_ITEMS.map((item) => {
          const Icon = getIcon(item.icon);
          return (
            <Link href={item.url} class="txt-luster flex items-center gap-2 font-bold text-base text-clr-bl-1 hover:text-clr-main-1/70 transition-colors tracking-[-0.01em]">
              <span>{item.text}</span>
            </Link>
          );
        })}
    </nav>


	
	<details class="lg:hidden relative">
      <summary class="list-none p-2 text-clr-main-1 cursor-pointer">
        <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24"
		style="filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 4px #fff);"
		>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </summary>
      
      <div class="absolute right-0 top-12 w-64 bg-clr-wh-1 border border-clr-base-1 p-6 rounded-lg shadow-xl">
        <ul class="flex flex-col gap-4">
          {NAV_ITEMS.map((item) => (
            <li><Link href={item.url} class="block text-lg text-clr-bl-1 font-serif">{item.text}</Link></li>
          ))}
        </ul>
      </div>
    </details>
  </div>

</SectionContainer>
</header>