---
import { getEntry } from 'astro:content';
import SectionContainer from './SectionContainer.astro';
import { Quote, User } from 'lucide-astro';
import { Image } from 'astro:assets';
import leftTopFrame from '../assets/images/radiance.avif';
import lineBright from '../assets/images/line_bright.png';

const reviewData = await getEntry('home', 'testimonials');
if (!reviewData) throw new Error("reviews.jsonが見つかりません");

const { title, reviews } = reviewData.data;
---

<section id="voice" class="section-margin-y py-24 md:py-32 text-clr-wh-1">
  <SectionContainer>
    <div class="relative mb-20">
	<Image 
		src={lineBright} 
		alt="" 
		width={713} 
		height={300}
		class="absolute inset-0 top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 z-[-1] w-[100vw] pointer-events-none mix-blend-screen"
		aria-hidden="true"
    />  
      <h2 class="txt-luster [text-shadow:_0_0_30px_white] text-3xl text-center md:text-6xl font-serif text-clr-main-1 sm:tracking-widest mb-6">
        {title}
      </h2>
	</div>

    <div class="grid md:grid-cols-2 gap-8">
      {reviews.map((review) => (
        <div class="relative group bg-gradient-to-b from-clr-base-1/80 to-clr-base-1/99 border border-clr-wh-1/10 p-10 hover:border-clr-main-1/50 transition-all duration-700 rounded-2xl flex flex-col">
          
			<Image 
				src={leftTopFrame} 
				alt="" 
				width={200} 
				height={168}
				class="absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 mix-blend-screen pointer-events-none backface-hidden"
				style="will-change: transform; transform: translateZ(0);"
				aria-hidden="true"
			/>  

          <Quote class="w-8 h-8 text-clr-main-2 mb-6 opacity-50" />

          <p class="text-base md:text-lg text-clr-wh-1/90 leading-relaxed mb-10 flex-grow italic">
            "{review.comment}"
          </p>

          <div class="border-t border-clr-main-1 pt-8 flex items-center gap-5">
            {/* 四角形のアイコン枠に変更して統一感を持たせました */}
            <div class="w-14 h-14 border border-clr-main-2/30 flex items-center justify-center bg-clr-base-1">
              <User class="w-7 h-7 text-clr-accent-1" />
            </div>
            <div>
              <p class="text-lg font-bold text-clr-main-2 mb-1">{review.name}</p>
              <p class="text-base text-clr-wh-1">{review.topic}</p>
            </div>
          </div>
        </div>
      ))}
    </div>
  </SectionContainer>
</section>